/* Contenedor general del carrusel */
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 450px;
    overflow: hidden;
    margin-bottom: 100px;
    z-index: 2; /* Asegura que el carrusel se muestre encima del MarketCompes */
  }

/* Cada imagen dentro del carrusel */
.carousel-slide {
    position: relative;
    height: 100%;
}

/* Las imágenes deben ajustarse al contenedor del carrusel */
.carousel-image {
    position: absolute;
    width: 100%;
    height: 450px;
    background-size: cover; /* Asegura que la imagen se ajuste bien sin estirarse */
    background-position: center; /* Centra la imagen correctamente */
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.carousel-image.active {
    opacity: 1;
    z-index: 2;
}

/* Mantén el tamaño fijo para los títulos */
.carousel-caption h2 {
    font-size: 3rem;
    margin: 0;
}
/* Capa con el gradiente y blur encima de la imagen pero debajo del texto */
.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 460px;
    background: rgb(26,114,154);
    background: linear-gradient(0deg, rgba(26,114,154,1) 5%, rgba(0,0,0,0.227328431372549) 86%, rgba(37,179,177,0) 95%, rgba(46,221,195,0) 100%);
    z-index: 2; /* Debajo del texto pero encima de la imagen */
    pointer-events: none; /* Para que no interfiera con la interacción */
}

/* Ajustamos la posición del texto para que esté sobre la capa */
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3; /* Asegura que el texto esté encima del overlay */
}

/* Estilos del texto en el carrusel */
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.carousel-caption p {
    font-size: 1.5rem;
    margin: 10px 0 0 0;
}

/* Gradiente de fondo para hacer las imágenes más legibles */
.carousel-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Indicadores del carrusel */
.carousel-indicators {
    position: absolute;
    bottom: 50%px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 4;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: rgba(255, 255, 255, 1);
}
