.password-input {
  position: relative; /* Posiciona el contenedor de entrada relativamente */
}

.password-input input {
  padding-right: 40px; /* Espacio para el botón de ícono */
}

.password-input button {
  position: absolute; /* Posiciona el botón de ícono absolutamente */
  right: 10px; /* Ajusta la posición del botón */
  top: 50%; /* Centra verticalmente el botón */
  transform: translateY(-50%); /* Ajusta para centrar el ícono */
  background: transparent; /* Sin fondo */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor tipo mano */
}