.values-carrusel-container {
    text-align: center;
    padding: 20px;
    perspective: 1000px;
  }

.values-title {
    width: 350px;
    margin: auto;
    border-bottom: #1A729A 1px solid;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
}

  .values-carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 85vh;
    margin-top: 50px;
  }
  
  .values-carrusel-track {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    padding: 50px;
  }
  
  .card {
    position: absolute;
    width: 300px;
    height: 400px;
    background: #ebebeb;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .value-image {
    width: 300px;
    height: 210px;
    /* object-fit: cover; */
  }
  
  .values-card-content {
    padding: 10px 20px;
  }
  
  .value-title {
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: #1a719a9f 1px solid;
  }

  .value-description {
    margin-top: 20px;
  }

  .values-carrusel-button {
    background: none;
    border: none;
    color: #333;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
  }
  
  .values-carrusel-button.left {
    position: absolute;
    left: 100px;
    width: 30px;
  }
  
  .values-carrusel-button.right {
    position: absolute;
    right: 100px;
    width: 30px;
  }
  