* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.product-details {
    width: 100%;
    display: flex;
    padding: 70px;
}

.product-details__image-container {
    flex: 1;
    margin: 0 100px;
}

.product-details__image {
    max-width: 250px;
    width: 100%;
    object-fit: cover;
}

.product-details__info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-details__category {
    color: #777;
}

.product-details__title {
    font-size: 33px;
    font-weight: bold;
}

.product-details__presentation {
    width: 25%;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px 15px; /* Añade padding para un aspecto más espacioso */
    border: 1px solid #ddd; /* Un borde sutil */
    background-color: #fff; /* Fondo blanco para el select */
    font-size: 16px; /* Tamaño de fuente para una mejor legibilidad */
    color: #333; /* Color del texto */
    appearance: none; /* Quita el estilo por defecto del navegador */
    cursor: pointer; /* Cambia el cursor a pointer */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.product-details__presentation:focus {
    border-color: #14A2C9; /* Color del borde al enfocar */
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.2); /* Sombra de enfoque */
    outline: none; /* Quita el contorno predeterminado */
}

.product-details__price {
    font-size: 28px;
    font-weight: 400;
    color: #333;
    margin-bottom: 15px;
}

.product-stock__container {
    width: 200px;
    height: 30px;
    background-color: #7777771f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.product-stock {
    font-size: 14px;
    color: #454647;
    display: flex;
    align-items: center;
}

.product-stock::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #28a745;
    border-radius: 50%;
    margin-right: 10px;
}

.select-product__container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.quantity-selection {
    text-align: center;
    height: 40px;
    border-radius: 20px;
    border: 1px #00000042 solid;
}

.add-to-cart {
    width: 20px;
}

.product-details__add-to-cart {
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #14A2C9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.product-details__add-to-cart:hover {
    background-color: #008db4;
}

.product-details__container {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    gap: 30px;
}

.product-information__container {
    max-width: 450px;
    padding: 0 30px;
    border-right: #00000075 solid 1px;
}

.product-description__container {
    padding: 0 30px;
}

.product-description__container h3, 
.product-information__container h3 {
    margin-bottom: 20px;
    border-bottom: #00000075 1px solid;
    padding-bottom: 5px;
    font-weight: 500;
    color: #444;
    text-transform: uppercase;
}

.dosis-title {
    margin-top: 40px;
}

.product-description, .product-details__plagas,
.product-details__dosis {
    color: #505050;
    font-weight: bold;
    text-wrap: pretty;
}