/* AccountDetail.css */
.account-details__container {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px; /* Bordes más redondeados */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

.account-details__container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 26px; /* Aumenté el tamaño de la fuente */
  font-weight: 600; 
}

.account-details__container button {
  padding: 14px 20px; /* Aumento de padding */
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px; /* Bordes más redondeados */
  cursor: pointer;
  font-size: 16px;
  font-weight: 600; 
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.account-details__container button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
}
